<div class="container mat-elevation-z4">
  <mat-accordion>
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Item Filters
        </mat-panel-title>
        <mat-panel-description>
          Specify price/weight and gp-oz ratio filtering
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form class="example-container" [formGroup]="options">

        <div>
          <mat-form-field>
            <input matInput type="number" placeholder="Maximal price" formControlName="maximumPrice" min="0">
            <mat-error *ngIf="options.get('maximumPrice')?.invalid">Maximal price: 0gp</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" placeholder="Maximal Gp/Oz Rate" formControlName="maximumGpOzRate" min="0">
            <mat-error *ngIf="options.get('maximumGpOzRate')?.invalid">Maximal Gp/Oz Rate: 0</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" placeholder="Minimum Weight" formControlName="minimumOz" min="0">
            <mat-error *ngIf="options.get('minimumOz')?.invalid">Minimum Weight: 0</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select formControlName="isStackable">
              <mat-option value="">Any</mat-option>
              <mat-option value="Yes">Yes</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
            <mat-placeholder>Stackable</mat-placeholder>
          </mat-form-field>
        </div>
        
        <button mat-raised-button color="primary" (click)="applyFilter()">
          Apply
        </button>

      </form>

    </mat-expansion-panel>
  </mat-accordion>
</div>
