<div class="container mat-elevation-z4">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Categories
        </mat-panel-title>
        <mat-panel-description>
          Specify item categories
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-button-toggle
        *ngFor="let category of categories"
        (click)="selectCategory(category)">
        {{ filter(category) }}
      </mat-button-toggle >

      <p>Note: deselecting all categories disables filtering</p>

    </mat-expansion-panel>
  </mat-accordion>
</div>
