<mat-toolbar color="primary">
  <span style="padding-right: 1em;"> {{ title }} </span>
</mat-toolbar>

<mat-card>
  <app-upload></app-upload>
  <app-manage></app-manage>
  <app-download></app-download>
</mat-card>
