<div class="container mat-elevation-z4">
  <h2>Item List</h2>

  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <img src="assets/images/{{item.id}}.gif">
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Value </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.value}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.weight}} </mat-cell>
    </ng-container>

    <!-- GP/OZ Ratio Column -->
    <ng-container matColumnDef="ratio">
      <mat-header-cell *matHeaderCellDef mat-sort-header> GP/OZ Ratio </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.ratio}} </mat-cell>
    </ng-container>

    <!-- Stackable Column -->
    <ng-container matColumnDef="stackable">
      <mat-header-cell *matHeaderCellDef> Stackable </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <mat-checkbox
          [checked]="item.stackable"
          [disabled]="true">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.category}}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="selectItem(row.id)"
             [ngClass]="{'highlight': selection.isSelected(row.id)}">
    </mat-row>

  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="20"
                 [pageSizeOptions]="[5, 10, 20, 50, 100, 500, 1000]">
  </mat-paginator>

</div>
