<div class="container mat-elevation-z4">
  <h2>Download</h2>

  <p>Paste this generated JSON to your <code>lootBlackWhiteList.json</code> or click <code>Download File</code> button to download it.</p>

  <form class="download-form">
    <div>
      <mat-form-field class="full-width">
        <textarea matInput readonly
                  placeholder="Generated lootBlackWhiteList.json"
                  matTextareaAutosize
                  matAutosizeMinRows="10"
                  matAutosizeMaxRows="15"
                  value="{{ blacklistText }}">
        </textarea>
      </mat-form-field>
    </div>

    <a id="downloadAnchorElem" style="display:none"></a>

    <button mat-raised-button color="primary" (click)="downloadFile()">
      Download File
    </button>

  </form>

</div>
