<div class="container mat-elevation-z4">
  <h2>Description</h2>
  <p> Tibia Autolooter Filter helps to easily manage your Tibia's Autolooter settings in the web browser instead of Client built-in cyclopedia. </p>
  <p> To properly use this application you have to: </p>
  <ol>
    <li>Update your autolooter settings (just one item, to highlight recently updated character-bound settings) inside client and close it.</li>
    <li>Open your File browser, enter <code>%localappdata%\Tibia\packages\Tibia\characterdata</code> and open recently updated directory (consists of numbers).</li>
    <li>In this directory find <code>lootBlackWhiteList.json</code>.</li>
    <li>Upload it below</li>
    <li>Go to <code>Manage</code> section</li>
  </ol>
</div>

<div class="container mat-elevation-z4">
  <h2>Upload file</h2>
  <input type="file" #file accept=".json,application/JSON" (change)="handleFileUpload($event)" class="hidden">

  <button mat-button aria-label="attach_file" (click)="buttonUploadClicked()">
    Choose file
  </button>

  <mat-form-field (click)="buttonUploadClicked()">
    <input matInput #fileNameChild [(ngModel)]="fileName" placeholder="{{ placeholder }}" readonly="true">
  </mat-form-field>

  <button mat-button aria-label="attach_file" (click)="buttonClearClicked()">
    Clear
  </button>
</div>
